


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    padding: 20px;
}

.pet-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.pet-card h3{
    margin-top: 10px;
    font-size: 1.2em;
}

.pet-card p {
    color: #777;
    font-size: 0.9em;
}

#pet-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.pet-card{
    background-color:white;
    border-radius: 12px;
    box-shadow: 0 2px  6px rgba(0,0,0, 0.1);
    padding: 10px;
    width: 200px;
    transition: transform 0.2s ease, box-shadow 0.5s ease;
}

.pet-card:hover {
    transform: translateY(-20px);
    box-shadow: 0 4px 200px rgba(0,0,0, 0.2);
}